<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <header class="productDetail_header_container">
        <main>

            <% products.forEach(product => { %>
                 
                <article class="index_product">
                    <div class="index_product_img"><img src="/img/imgProducts/<%= product.image%>" alt="product"></div>
                    <hr>
                    <h3 class="index_product_title"><%= product.name %>  </h3>
                    <div class="index_product_bottom">
                        <p class="precio">$<%= product.price %><em class="decimales"></em></p>
                        <p class="index_product_envío"> Envío Gratis</p>
                        <a href="/products/productDetail" class="index_button_product">Ver más</a>
                    </div>
                </article>

            <% }) %>





        </main>
        <%- include('./partials/footer') %> 

    </body>
    
    </html>