<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body class="editAdd">
    <%- include('../partials/header') %>
    <main class="main_formulario">
        <h4>Edita un producto</h4>

        <form class="main_formulario_contenedor" action="/products/productEdit?_method=PUT" method="put">

            
            <div>
                <label for="name">Nombre del producto</label>
                <input type="text" name="name" id="name" placeholder="Ejempo: Guitarra Electrica" value="<%= product.name %>">
            </div>
            <div>
                <label for="description">Descripcion</label>
                <textarea name="description" id="description" cols="30" rows="10" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, et ab! Ducimus illum ipsa quidem!"> </textarea>
            </div>

            <div>
                <label for="imagen" >Imagen de producto</label>
                <input type="file" name="imagen" id="imagen" accept="image/*" value="<%= product.image %>"><br><br>
            </div>
            
            <div>
                <label for="precio">Precio</label>
                <input type="number" id="precio" name="precio" placeholder="Ejemplo: $50.000" value="<%= product.price %>">
            </div> 

            <div>
                    <label for="category" class="form-label">Elige una categoria:</label> 
                    <select name="category" id="category">
                      <option value="guitarras" <%= product.category === "guitarras" && "selected" %>>Guitarras</option>
                      <option value="baterias" <%= product.category === "baterias" && "selected" %>>Baterias</option>
                      <option value="teclados" <%= product.category === "teclados" && "selected" %>>Teclados y Pianos</option>
                      <option value="microfonosYSonidos" <%= product.category === "microfonosYSonidos" && "selected" %>>Microfonos y Sonido</option>
                      <option value="deVientos" <%= product.category === "deVientos" && "selected" %>>Instrumentos de Viento</option>
                    </select>
            </div>

            <div>
                <label for="estado">Oferta:</label>
                <input type="radio" name="oferta" id="estado" value="oferta"<%= product.estado === "oferta" && "checked" %>> En oferta 
                <input type="radio" name="no-oferta" id="estado" value="no-oferta"<%= product.estado === "no-oferta" && "checked" %>> Sin oferta
            </div>

            <div>
                <label for="Colores">Colores disponibles</label>
                <p class="checkboxs"><input type="checkbox" name="color" id="color" value="color">Negro</p>
                <p class="checkboxs"><input type="checkbox" name="color" id="color" value="color">Rojo</p>
                <p class="checkboxs"><input type="checkbox" name="color" id="color" value="color">Blanco</p>
            </div>

            
            <div class="formulario_enviar">
                <button type="submit">Enviar</button>
            </div>
            
        </form>

    </main>
    <%- include('../partials/footer') %> 
</body>
</html>