<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body class="productCart">
        <%- include('../partials/header') %>
            <main class="productCart_main">
                <h1 class="productCart_main-h1">Carrito de Compras</h1>
                <br>

                <section class="productCart_section_contenedor">

                    <article>
                        <ul class="productCart_main_menu">
                            <li class="item1">Productos</li>
                            <li>Cantidad</li>
                            <li>Precio</li>
                        </ul>
                    </article>

                    <article class="productCart_detalleProducto">

                        <div class="item1">
                            <p class="productCart_detalleProducto_nombreProducto_bateria"><%=product.name%></p>
                            <img class="productCart_detalleProducto_imagenbateria" src="/img/<%=product.images[i].file%>">
                        </div>

                        <div>
                            <button class="boton">+ 1 -</button>
                        </div>

                       <div>
                        <p class="productCart_detalleProducto_precioBateria">$109.780</p>
                       </div> 
                        
                        <div class="productCart_detalleProducto_basura">
                            <img class="productCart_detalleProducto_basura_img" src="/img/logoBasura.png">
                        </div>

                    </article>

                    <article class="productCart_detalleProducto">

                        <div class="item1">
                            <p class="productCart_detalleProducto_nombreProducto_bateria">bateriaMapex</p>
                            <img class="productCart_detalleProducto_imagenbateria" src="/img/bateriaMapex.jpg">
                        </div>

                        <div>
                            <button class="boton">+ 1 -</button>
                        </div>

                       <div>
                        <p class="productCart_detalleProducto_precioBateria">$109.780</p>
                       </div> 
                        
                        <div class="productCart_detalleProducto_basura">
                            <img class="productCart_detalleProducto_basura_img" src="/img/logoBasura.png">
                        </div>

                    </article>

                </section>

                <section class="productCart_main_compra">
                    <div class="productCart_main_compra_container">
                        <img class="productCart_main_compra_envioGratis_logo" src="/img/logoCamion.png"
                            alt="Envio gratis">
                        <p class="productCart_main_compra_envioGratis">Envío Gratis</p>
                        <img class="productCart_main_compra_logovisa" src="/img/logoVisa.png" alt="logo visa">
                        <img class="productCart_main_compra_logovisa" src="/img/logoMastercard.png"
                            alt="logo mastercard">
                    </div>
                    <div>
                        <p class="productCart_main_compra_total">Total $129.155</p>
                        <button class="productCart_main_compra_boton">COMPRAR</button>
                    </div>
                </section>
            </main>

            <%- include('../partials/whatsapp') %>  

            <%- include('../partials/footer') %>

            <%- include('../partials/script') %>
    </body>

</html>