<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body class="productCart">
        <%- include('../partials/header') %>
            <main class="productCart_main">
                <h1 class="productCart_main-h1">Carrito de Compras</h1>
                <br>

                <section class="productCart_section_contenedor">

                    <article class="productCart_main_menu">
                            <p>#</p>
                            <p class="itemProduct">Productos</p>
                            <p>Cantidad</p>
                            <p>Precio</p>
                            <p>Subtotal</p>
                            <p></p>
                    </article>
                    
                    <article class="productCart_detalleProducto" id="orderCarts">
                        <% if (!locals.userLogin) { %>
                             <p class="alert alert-warning ms-5" id="rowCart">Para poder hacer órdenes en el carrito debes <a href="/users/login" style="color: blue;">loguearte</a>.</p>
                            <% } %>
                        
                    </article>
                    <article class="productCart_total">
                        <div class="productCart_total-div">
                            <% if (locals.userLogin) { %>
                            <p class="productCart_main_compra_total" id="total"></p>
                            <button class="productCart_main_compra_boton" id="productCart_comprar">COMPRAR</button>
                            <% } %>
                        </div>
                    </article>

                </section>

                <section class="productCart_main_compra">
                    <div class="productCart_main_compra-div">
                        <img class="productCart_main_compra_envioGratis_logo" src="/img/cart/logoCamion.png"
                            alt="Envio gratis">
                        <p class="productCart_main_compra_envioGratis">Envío Gratis</p>
                        <img class="productCart_main_compra_logovisa" src="/img/cart/logoVisa.png" alt="logo visa">
                        <img class="productCart_main_compra_logovisa" src="/img/cart/logoMastercard.png"
                            alt="logo mastercard">
                    </div>
                </section>

                <aside class="menu_compra" id="aside_compra">
                    <b id="productCar_close" style="cursor: pointer;">x</b>
                    <div class="menu_compra_datos">
                    <h2>Confirmar Compra</h2>
                    <p>Total (n articulos)</p> 
                    <p>ARS $12.345</p>
                    </div>
            
                    <div class="menu_compra_metodos">
                        <h4>Método de pago</h4>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                               <b>+</b>Agregar Método De Pago
                              </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
            
                                <label id="credit-card-number">
                                    Número de tarjeta de crédito/débito
                                  </label>
                                  <input aria-labelledby="credit-card-number" data-focus-default="true" name="cardNumber" autocomplete="off" maxlength="20" id="ember32" class="credit-card-form__card-number ember-text-field ember-view" type="text">
                                  <div class="credit-card-form__icons">
                                    <img class="productCart_main_compra_logovisa" src="/img/cart/logoVisa.png" alt="logo visa">
                                    <img class="productCart_main_compra_logovisa" src="/img/cart/logoMastercard.png" alt="logo mastercard">
                                    <br>
                                    <label id="credit-card-holder-name">
                                        Titular de la tarjeta
                                      </label>
                                      <input aria-labelledby="credit-card-holder-name" name="cardholderName" autocomplete="off" maxlength="32" id="ember35" class="ember-text-field ember-view" type="text">
                                      <br>
                                      <label id="credit-card-expiration-date">
                                        Fecha de vencimiento
                                      </label>
                                      <input type="date" placeholder="Mes">
                                      <br>
                                      <label for="cvv">CVV</label><br>
                                      <input type="text" name="cvv" id="cvv">
                                      <br>
                                      <label for="cuil">Número de CUIT/CUIL/DNI</label>
                                      <input type="text" name="cuil" id="cuil">
            
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
            
                    <div class="menu_compra_finalizar">
                        <button class="btn btn-light">Encargar Y Pagar</button>
                    </div>
                </aside>

               
            </main>

            <%- include('../partials/whatsapp') %>  

            <%- include('../partials/footer') %>

            <%- include('../partials/script') %>
            <script src="/Js/orderCartView.js"></script>
    </body>


</html>