<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="editAdd">
        <%- include('../partials/header') %>
            <main class="main_formulario">
                <h4>Agregar producto</h4>

                <form class="main_formulario_contenedor" action="/products/productAdd" method="POST"
                    enctype="multipart/form-data">
                    <div>
                        <label for="name">Nombre del producto</label>
                        <input type="text" id="name" name="name" placeholder="Ejempo: Guitarra Electrica" />
                        <% if (locals.errors && errors.name) { %>
                            <p class="register_errors">
                                <%= errors.name.msg %>
                            </p>
                            <% } %>
                    </div>

                    <div>
                        <label for="imagen">Imagen principal</label>
                        <input type="file" name="images" id="imagen" accept="image/*" /><br/><br/>
                        <% if (locals.errors && errors.images) { %>
                            <p class="register_errors">
                                <%= errors.images.msg %>
                            </p>
                            <% } %>
                    </div>

                    <div>
                        <label for="imagen">Imágenes secundarias</label>
                        <input type="file" name="images" id="imagen" accept="image/*" multiple /><br/><br/>
                    </div>

                    <div>
                        <label for="price">Precio</label>
                        <input type="number" id="price" name="price" placeholder="Ejemplo: $50.000" />
                        <% if (locals.errors && errors.price) { %>
                            <p class="register_errors">
                                <%= errors.price.msg %>
                            </p>
                            <% } %>
                    </div>

                    <div>
                        <label for="discount">Descuento</label>
                        <input type="number" id="discount" name="discount" />
                    </div>

                    <div>
                        <label for="description">Descripcion</label>
                        <textarea rows="5" id="description" name="description"></textarea>
                        <% if (locals.errors && errors.description) { %>
                            <p class="register_errors">
                                <%= errors.description.msg %>
                            </p>
                            <% } %>
                    </div>

                    <div>
                        <label for="brand" class="form-label">Elige una marca:</label>
                        <select name="brandId" id="brand">
                            <option value="" hidden>Elegí una marca</option>
                            <% brands.forEach(({id,name}) => { %> 
                                <option value="<%= id %>"><%= name %> </option>
                            <% }) %>
                        </select>
                    </div>

                    <div>
                        <label for="color" class="form-label">Elige un color:</label>
                        <select name="colorId" id="color">
                            <option value="" hidden>Elegí un color</option>
                            <% colors.forEach(({id,name}) => { %>
                                <option value="<%= id %>"><%= name %> </option>
                            <% }) %>
                        </select>
                    </div>

                    <div>
                        <label for="category" class="form-label">Elige una categoria:</label>
                        <select name="categoryId" id="category">
                            <option value="" hidden>Elegir</option>
                            <% categories.forEach(({id,name}) => { %>
                                <option value="<%= id %>"><%= name %> </option>
                            <% }) %>
                        </select>
                        <% if (locals.errors && errors.categoryId) { %>
                            <p class="register_errors">
                                <%= errors.categoryId.msg %>
                            </p>
                            <% } %>
                    </div>

                    <div class="main_formulario_radio">
                        <div class="main_formulario_radio">
                            <label for="status" name="status">Oferta:</label>
                            <p>
                                <input type="radio" name="status" id="status" value="1" /> En
                                oferta
                            </p>
                            <p>
                                <input type="radio" name="status" id="status" value="0" />
                                Sin oferta
                            </p>
                        </div>
                    </div>

                    <div class="formulario_enviar">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
            </main>

            <%- include('../partials/footer') %>
    </body>

</html>