<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body class="index">
        <%- include('./partials/header') %>

            <main>

                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active"
                            style="background-image: url('/img/index/banner-codemusic.jpg');">
                        </div>
                        <div class="carousel-item" style="background-image: url('/img/index/CODEMUSIC-Banner.png');">
                        </div>
                        <div class="carousel-item" style="background-image: url('/img/index/banner-codemusic.jpg');">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true" hidden></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true" hidden></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="main_container">

                    <div class="index_medios_de_pago">
                        <img src="\img\index\mp-chicosvg1.jpg" alt="medios de pago">
                    </div>

                    <h1>OFERTAS</h1>
                    <div class="glider-contain">
                        <section class="glider">
                            <% oferta.forEach((product,index)=> { %>
                                <article class="index_product">
                                    <div class="index_product_img"><img src="/img/products/<%=product.image%>"
                                            alt="product"></div>
                                    <hr>
                                    <h3 class="index_product_title">
                                        <%= product.name %>
                                    </h3>

                                    <div class="index_product_bottom">
                                        <p class="precio">$<%= toThousand(product.price) %><em class="decimales">99</em>
                                        </p>
                                        <p class="index_product_envío">Envío Gratis</p>
                                        <a href="/products/productDetail/<%=product.id %>"
                                            class="index_button_product">Ver
                                            más</a>
                                    </div>
                                </article>
                                <% }) %>
                        </section>
                        <button aria-label="Previous" class="glider-prev" style="left: 7px;"><i
                                class="fa-solid fa-chevron-left"></i></button>
                        <button aria-label="Next" class="glider-next" style="right: 7px;"><i
                                class="fa-solid fa-chevron-right"></i></button>

                    </div>


                    <div class="index_div_info">
                        <article>
                            <i class="fa-solid fa-truck"></i>
                            <h4>Envío Gratis</h4>
                            <p>Órdenes mayores a $22.999</p>
                        </article>
                        <article>
                            <i class="fa-solid fa-shop"></i>
                            <h4>Atención presencial</h4>
                            <p>Lun a Vie 11 a 16 hs <br>Sáb 11 a 14 hs</p>
                        </article>
                        <article>
                            <i class="fa-solid fa-rotate"></i>
                            <h4>Garantía Devoluciones y Cambios</h4>
                            <p>En todos los productos</p>
                        </article>
                        <article>
                            <i class="fa-solid fa-circle-info"></i>
                            <h4>Asesoramiento</h4>
                            <p>¡Pre y postventa!</p>
                        </article>
                        <article>
                            <i class="fa-solid fa-phone"></i>
                            <h4>Atencón online y telefónica</h4>
                            <p>¡Contáctanos!</p>
                        </article>
                    </div>

                    <h1>Nuestras Marcas</h1>

                    <div class="index_div_marcas">
                        <div>
                            <img src="/img/index/ampeg.png" alt="">
                        </div>
                        <div>
                            <img src="/img/index/audio-technica.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\behringer.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\beyerdynamic.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\blackstar.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\blgaudio.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\bogneramplification.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\breyer.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\casio.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\d'addario.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\fender.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\gatorcases.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\hercules.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\ibanez.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\korg.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\pearl.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\phonic.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\roland.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\roybenson.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\shure.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\stagg.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\taylor.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\yamaha.png" alt="">
                        </div>
                        <div>
                            <img src="\img\index\ziljian.png" alt="">
                        </div>
                    </div>

                    <div class="glider-contain">
                        <div id="guitarrasM" data-aos="fade-right">
                            <p>
                            <h2>Guitarras</h2>
                            </p>
                        </div>
                        <section class="glider2" id="guitar">
                            <div id="guitarrasD" data-aos="fade-right">
                                <p>
                                <h2>Guitarras</h2>
                                </p>
                            </div>
                            <% guitarras.forEach((product,index)=> { %>
                                <article class="index_product" id="article_guitar">
                                    <div class="index_product_img"><img src="<%=" /img/products/" + product.image %>"
                                        alt="product"></div>
                                    <hr>
                                    <h3 class="index_product_title">
                                        <%= product.name %>
                                    </h3>
                                    <div class="index_product_bottom">
                                        <p class="precio">$<%= toThousand(product.price) %><em class="decimales">99</em>
                                        </p>
                                        <p class="index_product_envío"> Envío Gratis</p>
                                        <a href="/products/productDetail/<%=product.id %>"
                                            class="index_button_product">Ver
                                            más</a>
                                    </div>
                                </article>
                                <%}) %>
                        </section>
                        <button aria-label="Previous" class="glider-prev prev2" style="left: 200px;"><i
                                class="fa-solid fa-chevron-left"></i></button>
                        <button aria-label="Next" class="glider-next next2" style="right: 7px;"><i
                                class="fa-solid fa-chevron-right"></i></button>
                    </div>

                    <div class="glider-contain">
                        <div id="batterysM" data-aos="fade-left">
                            <p>
                            <h2>Baterias</h2>
                            </p>
                        </div>
                        <section class="glider3" id="battery">
                            <div id="batterysD" data-aos="fade-left">
                                <p>
                                <h2>Baterias</h2>
                                </p>
                            </div>
                            <% baterias.forEach(product=> { %>
                                <article class="index_product" id="article_battery">
                                    <div class="index_product_img"><img src="<%=" /img/products/" + product.image %>"
                                        alt="product"></div>
                                    <hr>
                                    <h3 class="index_product_title">
                                        <%= product.name %>
                                    </h3>
                                    <div class="index_product_bottom">
                                        <p class="precio">$<%= toThousand(product.price) %><em class="decimales">99</em>
                                        </p>
                                        <p class="index_product_envío"> Envío Gratis</p>
                                        <a href="/products/productDetail/<%=product.id %>"
                                            class="index_button_product">Ver
                                            más</a>
                                    </div>
                                </article>
                                <% }) %>
                        </section>
                        <button aria-label="Previous" class="glider-prev prev3" style="left: 7px;"><i
                                class="fa-solid fa-chevron-left"></i></button>
                        <button aria-label="Next" class="glider-next next3" style="right: 200px;"><i
                                class="fa-solid fa-chevron-right"></i></button>
                    </div>

                    <div class="glider-contain">
                        <div id="pianosM" data-aos="fade-right">
                            <p>
                            <h2>Teclados</h2>
                            </p>
                        </div>
                        <section class="glider4" id="piano">
                            <div id="pianosD" data-aos="fade-right">
                                <p>
                                <h2>Teclados</h2>
                                </p>
                            </div>
                            <% teclados.forEach(product=> { %>
                                <article class="index_product" id="article_piano">
                                    <div class="index_product_img"><img src="<%=" /img/products/" + product.image %>"
                                        alt="product"></div>
                                    <hr>
                                    <h3 class="index_product_title">
                                        <%= product.name %>
                                    </h3>
                                    <div class="index_product_bottom">
                                        <p class="precio">$<%= toThousand(product.price) %><em class="decimales">99</em>
                                        </p>
                                        <p class="index_product_envío"> Envío Gratis</p>
                                        <a href="/products/productDetail/<%=product.id %>"
                                            class="index_button_product">Ver
                                            más</a>
                                    </div>
                                </article>
                                <% }) %>
                        </section>
                        <button aria-label="Previous" class="glider-prev prev4" style="left: 200px;"><i
                                class="fa-solid fa-chevron-left"></i></button>
                        <button aria-label="Next" class="glider-next next4" style="right: 7px;"><i
                                class="fa-solid fa-chevron-right"></i></button>
                    </div>

                    <div class="glider-contain">
                        <div id="microphonesM" data-aos="fade-left">
                            <p>
                            <h2>Micrófonos y sonido</h2>
                            </p>
                        </div>
                        <section class="glider5" id="microphone">
                            <div id="microphonesD" data-aos="fade-left">
                                <p>
                                <h2>Micrófonos y sonido</h2>
                                </p>
                            </div>
                            <% microfonosYSonido.forEach(product=> { %>
                                <article class="index_product" id="article_microphone">
                                    <div class="index_product_img"><img src="<%=" /img/products/" + product.image %>"
                                        alt="product"></div>
                                    <hr>
                                    <h3 class="index_product_title">
                                        <%= product.name %>
                                    </h3>
                                    <div class="index_product_bottom">
                                        <p class="precio">$<%= toThousand(product.price) %><em class="decimales">99</em>
                                        </p>
                                        <p class="index_product_envío"> Envío Gratis</p>
                                        <a href="/products/productDetail/<%=product.id %>"
                                            class="index_button_product">Ver
                                            más</a>
                                    </div>
                                </article>
                                <% }) %>
                        </section>
                        <button aria-label="Previous" class="glider-prev prev5" style="left: 7px;"><i
                                class="fa-solid fa-chevron-left"></i></button>
                        <button aria-label="Next" class="glider-next next5" style="right: 200px;"><i
                                class="fa-solid fa-chevron-right"></i></button>
                    </div>

                    <div class="glider-contain">
                        <div id="windsM" data-aos="fade-right">
                            <p>
                            <h2>Instrumentos de viento</h2>
                            </p>
                        </div>
                    <section class="glider6" id="wind">
                        <div id="windsD" data-aos="fade-right">
                            <p>
                            <h2>Instrumentos de viento</h2>
                            </p>
                        </div>
                        <% deVientos.forEach(product=> { %>
                            <article class="index_product" id="article_wind">
                                <div class="index_product_img"><img src="/img/products/<%=product.image %>"
                                        alt="product"></div>
                                <hr>
                                <h3 class="index_product_title">
                                    <%= product.name %>
                                </h3>
                                <div class="index_product_bottom">
                                    <p class="precio">$<%= toThousand(product.price) %><em class="decimales">99</em>
                                    </p>
                                    <p class="index_product_envío"> Envío Gratis</p>
                                    <a href="/products/productDetail/<%=product.id %>" class="index_button_product">Ver
                                        más</a>
                                </div>
                            </article>
                            <% }) %>
                    </section>
                    <button aria-label="Previous" class="glider-prev prev6" style="left: 200px;"><i
                        class="fa-solid fa-chevron-left"></i></button>
                <button aria-label="Next" class="glider-next next6" style="right: 7px;"><i
                        class="fa-solid fa-chevron-right"></i></button>
                </div>

            </main>

            <%- include('./partials/whatsapp') %>

                <%- include('./partials/footer') %>

                    <%- include('./partials/script') %>
                        <script src="/Js/glider.js"></script>
                        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
                        <script src="/Js/index.js"></script>
    </body>

</html>