<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body class="profile">
        <%- include('../partials/header') %>
            <main class="profile_main">

                <section class="profile_main_section">

                    <h3>Mi perfil </h3>
                    
                    <form class="profile_main_form" action="/users/profile?_method=PUT" method="post" enctype="multipart/form-data">
                        <img src="/img/users/<%= user.avatar %>" alt="usuario" class="profile_img">

                        <div class="profile_main_divAvatar">
                            <label for="avatar" style="cursor:pointer;" class="profile_main_divAvatar_label">Cambiar imagen de perfil</label>
                            <input hidden type="file" id="avatar" name="avatar" >
                        </div>

                        <div class="profile_main_form_div1">

                            <div>
                                <label for="firstName">Nombre</label>
                                <input type="text" name="firstName" id="firstName" placeholder="Escribí tu nombre" class="profile_controls" value="<%= user.firstName %>">
                                <p class="text-danger"><%= locals.errors && errors.firstName ? errors.firstName.msg : null %></p>
                            </div>

                            <div>
                                <label for="lastName">Apellido</label>
                                <input type="text" name="lastName" id="lastName" placeholder="Escribí tu apellido" class="profile_controls" value="<%= user.lastName %>">
                            </div>

                            <div>
                                <label for="username">Nombre de usuario</label>
                                <input type="text" name="username" id="username"
                                    placeholder="Escribí tu nombre de usuario" class="profile_controls" value="<%= user.username ? user.username : null %>">
                                    <p class="text-danger"><%= locals.errors && errors.username ? errors.username.msg : null %></p>
                            </div>

                            <div>
                                <label for="email">Correo electrónico</label>
                                <input type="email" name="email" id="email" placeholder="Escribí tu correo electrónico" class="profile_controls"
                                value="<%= user.email %>" disabled >
                            </div>
                            <div >
                                <label for="telephone">Teléfono(opcional):</label>
                                <input type="number" name="telephone" id="telephone" placeholder="Ej: 1524647589" class="profile_controls" value="<%= user.telephone %>" >
                                <% if (locals.errors && errors.telephone) { %>
                                  <p class="register_errors">
                                    <%= errors.telephone.msg %> 
                                </p>
                                <% } %>
                            </div>
                            <div>
                                <label for="category">Categoría</label>
                                <input type="text" name="category" id="category" class="profile_controls"
                                value="<%= user.category %>" disabled>
                            </div>

                        </div>

                        <div class="profile_main_form_div2">
                            <h5>Género</h5>
                            <hr>
                            <div>
                                <input value="femenino" type="radio" id="femenino" name="gender" <%=user.gender === "femenino"
                                && "checked" %>>
                                <label for="femenino">Femenino</label>
                            </div>

                            <div>
                                <input value="masculino" type="radio" id="masculino" name="gender" <%=user.gender === "masculino"
                                && "checked" %>>
                                <label for="masculino">Masculino</label>
                            </div>

                            <div>
                                <input value="otro" type="radio" id="otro" name="gender" <%=user.gender === "otro"
                                && "checked" %>>
                                <label for="otro">Otro</label>
                            </div>

                        </div>

                        <div class="profile_main_form_div3">
                            <h5>Géneros de música favoritos</h5>
                            <hr>
                            <div>
                                <input value="Rock" type="checkbox" id="Rock" name="musicFav" <%=user.musicFav?.includes("Rock") && "checked" %>>
                                <label for="Rock">Rock</label>
                            </div>
                            <div>
                                <input value="Jazz" type="checkbox" id="Jazz" name="musicFav" <%=user.musicFav?.includes("Jazz") && "checked" %>>
                                <label for="Jazz">Jazz</label>
                            </div>
                            <div>
                                <input value="Clásica" type="checkbox" id="Clásica" name="musicFav" <%=user.musicFav?.includes("Clásica") && "checked" %>>
                                <label for="Clásica">Música Clásica</label>
                            </div>
                            <div>
                                <input value="Pop" type="checkbox" id="Pop" name="musicFav" <%=user.musicFav?.includes("Pop") && "checked" %>>
                                <label for="Pop">Pop</label>
                            </div>
                        </div>

                        <div class="profile_main_form_div4">
                            <h5>Domicilio</h5>
                            <hr>
                            <div>
                                <label for="province">Selecciona tu provincia</label>
                                <select name="province" id="province" class="profile_controls">
                                    <option value="" hidden selected>Selecciona tu provincia</option>
                                    <option value="Buenos Aires" <%=user.province ==="Buenos Aires" && "selected" %>>Buenos Aires</option>
                                    <option value="Corrientes" <%=user.province ==="Corrientes" && "selected" %>>Corrientes</option>
                                    <option value="Entre Ríos" <%=user.province ==="Entre Ríos" && "selected" %>>Entre Ríos</option>
                                    <option value="Misiones" <%=user.province ==="Misiones" && "selected" %>>Misiones</option>
                                    <option value="Santa Fé" <%=user.province ==="Santa Fé" && "selected" %>>Santa Fé</option>
                                    <option value="Tucuman" <%=user.province ==="Tucuman" && "selected" %>>Tucumán</option>
                                    <option value="Mendoza" <%=user.province ==="Mendoza" && "selected" %>>Mendoza</option>
                                    <option value="Jujuy" <%=user.province ==="Jujuy" && "selected" %>>Jujuy</option>
                                    <option value="Catamarca" <%=user.province ==="Catamarca" && "selected" %>>Catamarca</option>
                                    <option value="Chaco" <%=user.province ==="Chaco" && "selected" %>>Chaco</option>
                                    <option value="La Rioja" <%=user.province ==="La Rioja" && "selected" %>>La Rioja</option>
                                    <option value="San Luis" <%=user.province ==="San Luis" && "selected" %>>San Luis</option>
                                    <option value="San Juan" <%=user.province ==="San Juan" && "selected" %>>San Juan</option>
                                    <option value="Córdoba" <%=user.province ==="Córdoba" && "selected" %>>Córdoba</option>
                                    <option value="Neuquén" <%=user.province ==="Neuquén" && "selected" %>>Neuquén</option>
                                    <option value="Chubut" <%=user.province ==="Chubut" && "selected" %>>Chubut</option>
                                    <option value="Tucumán" <%=user.province ==="Tucumán" && "selected" %>>Tucumán</option>
                                    <option value="Santa Cruz" <%=user.province ==="Santa Cruz" && "selected" %>>Santa Cruz</option>
                                    <option value="Tierra del Fuego" <%=user.province ==="Tierra del Fuego" && "selected" %>>Tierra del Fuego</option>
                                    <option value="Río Negro" <%=user.province ==="Río Negro" && "selected" %>>Río Negro</option>
                                    <option value="Salta" <%=user.province ==="Salta" && "selected" %>>Salta</option>
                                    <option value="Santiago del Estero" <%=user.province ==="Santiago del Estero" && "selected" %>>Santiago del Estero</option>
                                    <option value="La Pampa" <%=user.province ==="La Pampa" && "selected" %>>La Pampa</option>
                                </select>
                            </div>
                            
                            <div>
                                <label for="location">Localidad</label>
                                <input type="text" id="location" name="location" placeholder="Ej: San Miguel" class="profile_controls" 
                                value="<%= user.location %>">
                            </div>

                            <div>
                                <label for="street">Calle y altura</label>
                                <input type="street" id="street" name="street" placeholder="Ej: Calle 123" class="profile_controls"
                                value="<%= user.street %>">
                            </div>

                            <div>
                                <label for="biography">Acerca de mí</label>
                                <textarea name="biography" id="biography" cols="30" rows="5" class="profile_controls_textarea">
                                    <%= user.biography %></textarea>

                            </div>

                            <div>
                                <button type="button" class="profile_main_form_button"><a href="/">Cancelar</a></button>
                                <button type="submit" class="profile_main_form_button" style="cursor:pointer ;">Guardar cambios</button>
                            </div>
                        </div>
                    </form>

                </section>

            </main>
            <!-- copie y pegue el footer y se soluciono -->
            <%- include('../partials/footer') %>
    </body>

</html>