<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 

<body class="register">
    <%- include('../partials/header') %>

    

    <main class="register_main">
        <section class="register_inicio">
          <div class="register_inicio-cuenta"><p> Inicio > Mi cuenta > Registro</p></div>

         <div class="register_inica-s"><h1>Registrate</h1></div>

          <div class="register_txt"><p>Creá tu cuenta y comprá desde tu casa.</p></div>
          
          <form class="register_form" id="registerForm" action="/users/register" method="POST">
              <div class="register_div">
                  <label class="register_label" for="nombre">Nombre:</label>
                  <input class="register_input form-control"
                  type="text" name="firstName" id="nombre" 
                  value="<%= locals.old && old.firstName ? old.firstName : null%>" placeholder="Ej: Maria Gauna">
                  <span id="msgNombre"></span>
                  <% if (locals.errors && errors.firstName) { %>
                    <p class="register_errors">
                      <%= errors.firstName.msg %> 
                  </p>
                  <% } %>
              </div>

              <div class="register_div">
                <label class="register_label" for="apellido">Apellido:</label>
                <input class="register_input form-control" type="text" name="lastName" id="apellido" value="<%= locals.old && old.lastName ? old.lastName : null%>" placeholder="Ej: Gonzalez">
                <span id="msgApellido"></span>
                <% if (locals.errors && errors.lastName) { %>
                    <p class="register_errors">
                      <%= errors.lastName.msg %> 
                  </p>
                  <% } %>
            </div>
            
              <div class="register_div">
                  <label class="register_label" for="Email">Email:</label>
                  <input class="register_input form-control" type="text" name="email" id="Email" value="<%= locals.old && old.email ? old.email : null%>" placeholder="Ej: tunombre@email.com ">
                  <span id="errorEmail"></span>
                  <% if (locals.errors && errors.email) { %>
                    <p class="register_errors">
                      <%= errors.email.msg %> 
                  </p>
                  <% } %>
              </div>

              <div class="register_div">
                  <label class="register_label" for="Telefono">Teléfono(opcional):</label>
                  <input class="register_input form-control" type="number" name="telephone" id="Telefono" value="<%= locals.old && old.telephone ? old.telephone : null%>" placeholder="Ej: 1524647589">
                  <span id="msgTelephone"></span>
                  <% if (locals.errors && errors.telephone) { %>
                    <p class="register_errors">
                      <%= errors.telephone.msg %> 
                  </p>
                  <% } %>
              </div>

              <div class="register_div">
                  <label class="register_label" for="password">Contraseña:</label>
                  <input class="register_input form-control" type="password" name="password" id="password" placeholder="Escribe tu contraseña">
                  <span id="msgPassword"></span>
                  <% if (locals.errors && errors.password) { %>
                    <p class="register_errors">
                      <%= errors.password.msg %> 
                  </p>
                  <% } %>
              </div>

              <div class="register_div">
                  <label class="register_label" for="password2">Confirmar Contraseña:</label>
                  <input class="register_input form-control" type="password" name="password2" id="password2" placeholder="Confirma tu contraseña" >
                  <span id="msgPassword2"></span>
                  <% if (locals.errors && errors.password2) { %>
                    <p class="register_errors">
                      <%= errors.password2.msg %> 
                  </p>
                  <% } %>
              </div>

              <div class="register_div terminos">
                <input  type="checkbox" id="terminos" name="terminos" class="form-check-input">
                <label class="register_label form-check-label" for="terminos">Acepto <a href="#" style="color: blue;">términos y condiciones</a></label>
                <span id="errorTerms"></span>
                <% if (locals.errors && errors.terminos) { %>
                    <p class="register_errors">
                      <%= errors.terminos.msg %> 
                  </p>
                  <% } %>
              </div>

              <div class="register_div">
                <button type="submit" >Crear cuenta</button>
                <span id="msgError"></span>
              </div> 
              <div class="register_p_a">
                <p> ¿Ya tenés cuenta? <a href="/users/login" style="color: blue;">Iniciá sesión</a></p>
              </div>
              
          </form>
  
        </section>

    </main>

    <%- include('../partials/whatsapp') %>  

    <%- include('../partials/footer') %> 
    <script src="/js/userRegister.js"></script>

    <%- include('../partials/script') %>
</body>
</html>